@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Noto+Serif:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-align: center;

  }
  
 
body {
    position: relative;
  background: rgb(51, 45, 129);
  font-family: 'Architects Daughter', cursive;

}

/*--Navbar(Used and modified code from Code Institute Whiskey Drop mini project)--*/

.menubar {
	
	top: 0;
	left: 0;
	padding-left: 0;
	padding-right: 0;
	z-index: 1;
}

.navbar {
	margin-bottom: 0;
	border: 0;
	width: 100%;
	background-color: #000;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}

.navbar .navbar-toggler {
	border: 0;
}

.navbar-brand {
	font-weight: bold;
	font-size: x-large;
}

.navbar .navbar-nav a {
	font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: orange;
}

.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
	color: orange;
}

.jumbotron {
	background-color: transparent;
}

.jumbotron-header {
	color: #fff;
	font-weight: bold;
	font-size: 45px;
	margin-bottom: 30px;
	padding-top: 5px;
}
.header {
  color: orange;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1:after {
    content:' ';
    display:block;
    border:1px solid orange;
    border-radius:4px;

}

.text {
  color: white;
  font-size: 1.4em;
}



.box{
    box-sizing:border-box;
    display: flex;
    height: 40vh;
    align-items: center;
    justify-content: center;
    background: rgb(196, 192, 194);
    margin: 50px auto;
    
}

#num1, #num2{
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    box-sizing: border-box;
    
}

#num1{
    border: solid 4px rgb(255, 242, 62);
    width: 15%;
    height: 25%;
}

#num2{
    border: solid 4px rgb(72, 255, 0);
    width: 15%;
    height: 25%;
}

#num3, #num4{
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 50%;
    
}

#num3{
    border: solid 4px rgb(255, 242, 62);
    width: 15%;
    height: 25%;
}

#num4{
    border: solid 4px rgb(72, 255, 0);
    width: 15%;
    height: 25%;
}

#add, #equal, #equal2{
    font-weight: bold;
    font-size: 40px;
    padding: 5px;
}

#multiply{
    font-weight: bold;
    font-size: 40px;
    padding: 5px;
}
input {
    width: 70%;
    border: solid 2px cyan;
  padding-left: 25px;
    text-decoration: none;
    font-family: 'Noto Serif', serif;
}

button{
    font-size: 30px;
    background: red;
    color: #fff;
    border: 2px solid #000;
}
.col-12 {
    padding-right: 0px;
    padding-left: 0px;
  
}

.footerpage {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

.social-media {
	text-align: center;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0;
	margin-right: 0;
}

.social-media li {
	display: inline;
}

.social-media i {
	font-size: 40px;
	margin: 0;
	padding: 6%;
	color: black;
}

div#map {min-height: 360px;}


